@import url('обнуление.css');
@import url('projects.css');
@import url('stock.css');
@import url('build.css');

body {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	background-color: #F5F6FA;
}

.container {
	max-width: 1105px;
	margin: 0 auto;
}

.title__less {
	font-size: 36px;
	line-height: 37px;
	color: #000000;
}

.less__highlight {
	font-size: 36px;
	font-weight: 700;
	line-height: 37px;
}

/*-------header---------------*/
.header {
	background: url('img/header/house.png') no-repeat;
	background-size: cover;
}

.header__list {
	display: flex;
	justify-content: space-between;
	padding-top: 37px;
}

.header__block {
	display: flex;

}

.header__novgorod-masters {
	font-size: 9px;
	line-height: 11px;
	text-align: left;
	color: #909195;

}

.header__title {
	display: block;
	width: 127px;
}

.header__number {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 33px;
}

.header__reviews {
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
	background: url('img/header/Vector 6.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	right: 1100px;
	height: 75px;
	width: 47px;
}

.header_star {
	display: flex;
}

.header__img {
	margin-left: 80px;
}

.header__rating {
	width: 131px;
	margin-left: 80px;
	font-size: 12px;
}

.header__rating-high {
	font-weight: 600;

}

.header__send-calculation {
	font-size: 12px;
	font-weight: 600;
	line-height: 13px;
	background-color: rgba(132, 183, 61, 1);
	width: 237px;
	height: 45px;
	border-radius: 3px;
	color: white;
}

.header__we-online {
	font-size: 10px;
	line-height: 10px;
	color: #D2D3D6;
}

.header__text {
	font-size: 10px;
	color: rgba(210, 211, 214, 1);
	font-weight: 400;
}

.header__text::before {
	content: "\2022";
	/* юникод точки */
	color: rgba(95, 197, 118, 1);
	/* Менять цвет */
	font-weight: bold;
	/* Менять жирность */
	display: inline-block;
	/* Расстояние между точкой и текстом */
	width: 1em;
	/* Задать значение расстояния */
}

.header__phone {
	font-size: 16px;
	font-weight: 600;
}

.header__order-phone {
	font-size: 12px;
	font-weight: 600;
	color: rgba(135, 191, 60, 1);
}

.menu__item {}

.menu__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.start__title {
	font-size: 48px;
	font-weight: 400;
	line-height: 52px;
}

.start__bold {
	font-weight: 700;
}

.start__text {
	font-family: Arial;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

.start__text-bold {
	font-weight: 700;
}

.start__button {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #FBFFFF;
	background-color: #FEAA01;
	width: 285px;
	height: 60px;
	border-radius: 4px;
	text-transform: uppercase;
}

.start__items__info {
	font-size: 12px;
	line-height: 14px;
}

/*-------calculation--------------*/
.calculation__title-normal {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.calculation__questions__title {
	font-size: 25px;
	font-weight: 600;
	line-height: 19px;
	color: black;
}

.calculation__num {
	font-size: 20px;
	font-weight: 300;
	line-height: 15px;
	color: #716A6B;
}

.calculation__questions__info {
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	color: #777779;
}

.calculation__highlighting {
	font-weight: 600;
}

.calculation__questions__further {
	width: 44px;
	height: 11px;
	top: 18px;
	left: 34.62px;
	color: #FDFDFA;
	width: 138.48px;
	height: 46.84px;
	border-radius: 2.04px;
	background-color: #FEAA01;
}

.calculation__info__name {
	font-size: 25px;
	font-weight: 600;
	line-height: 19px;
	color: black;
}

.calculation__info__major {
	font-size: 13px;
	line-height: 10px;
	color: #A09EA1;

}

.calculation__info__answer {
	font-size: 16px;
	line-height: 12px;
	color: #4B4747;
	font-weight: 400;
}

.calculation__info__answer-highlighting {
	font-weight: 600;
}

.list {
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	color: #4B4747;
}

.list__highlighting {
	font-weight: 600;
}

.list__list {
	font-size: 13px;
	font-weight: 600;
	line-height: 14px;
	color: #F3F3F3;
}

.list__highlighting-highlighting {
	font-weight: 400;
}






/*----------------idea------------------*/
.stage__button:hover {
	color: #FFFFFF;
	background-color: #73B918;

}

.stage__button {
	width: 158.96px;
	height: 40.46px;
	top: 3810px;
	left: 167.96px;
	border-radius: 6.74px;
	font-size: 18px;
	font-weight: 600;
	line-height: 49px;
	color: #333438;
}

.idea__description-title {
	font-size: 35px;
	font-weight: 800;
	line-height: 36px;
	color: #4C4F56;
}

.idea__description-list {
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	color: #4C4F56;
}

.idea__description-highlighting {
	font-weight: 600;
}

.idea__description-info {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #4C4F56;
}

.info-highlighting {
	font-weight: 700;
}

.idea__description-text {
	font-size: 15px;
	line-height: 16px;
	color: #505457;
}

.title {
	font-size: 47px;
	font-weight: 400;
	line-height: 47px;
	color: #2D2D2F;
}

.title__highlighting {
	font-size: 47px;
	font-weight: 700;
	color: #2D2D2F;
}

.items__title {
	font-size: 27px;
	font-weight: 600;
	line-height: 26px;
}

.items__text {
	font-size: 14px;
	line-height: 15px;
}

.items__highlighting {
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
}

.items__button {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: black;
	background-color: white;
	width: 233.56px;
	height: 43.48px;
	top: 4698.31px;
	left: 211.48px;
	border-radius: 4.97px;
}

/*-------examples--------------*/
.examples__page-block {
	padding-top: 178px;
	padding-bottom: 179px;
}

.examples__page {
	padding-bottom: 50px;
	text-align: center;
	width: 900px;
	margin: 0 auto;
}

.examples__block {
	display: flex;
}

.examples__image {
	width: 535px;
}

.examples__image-big {
	padding-bottom: 20px;
}

.examples__image-small {
	padding-right: 7.5px;
}

.examples__image-small:last-child {
	padding-right: 0px;
}

.examples__characteristics {
	padding-left: 30px;
}

.examples__look-map {
	color: rgba(133, 183, 62, 1);
}

.examples__look-map::before {
	content: url(img/examples/Subtract.png);
	padding-right: 15px;

}

.examples__title {
	width: 391px;
	font-size: 30px;
	padding-top: 40px;
}

.examples__itoms {
	display: flex;
	justify-content: space-between;
}

.itoms {
	box-sizing: border-box;
	width: 200px;
	padding-bottom: 10px;
	line-height: 28px;
}

.itoms::before {
	content: "\2022";
	/* юникод точки */
	color: rgba(245, 186, 64, 1);
	/* Менять цвет */
	font-weight: bolder;
	/* Менять жирность */
	display: block;
	/* Расстояние между точкой и текстом */
	width: 1em;
	font-size: 35px;
	text-shadow: rgba(255, 92, 0, 1) 1px 0 8px;
	/* Задать значение расстояния */
	padding-top: 17px;
}

.size {
	width: 150px;
}

.examples__options {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 55px;
}

.options__list {}

.list {
	line-height: 18px;
}

.examples__calculation {
	display: flex;
	justify-content: space-between;
	width: 538px;
}

.examples__text {
	width: 263px;
}

.examples__button {
	width: 234px;
	text-align: center;
}

.examples__cul {
	padding-left: 15px;
}

/*-------excursion--------------*/

.excursion__text {
	font-size: 18px;
	line-height: 20px;
	color: #4C4F56;
}

.excursion__list {}

.excursion__list-title {
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	color: #000000;
}

.excursion__list-highlight {
	font-weight: 700;
}

.window__title {
	font-size: 24px;
	font-weight: 300;
	color: #4C4F56;

}

.window__title-highlighting {
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	color: #4C4F56;
}

.window__text {
	line-height: 17px;
	color: #4C4F56;
	font-size: 16px;
}

.window__question {
	font-size: 13px;
	font-weight: 700;
	line-height: 15px;
	color: #2D2D2F;
}

.client__name {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.client__date {
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	color: #6D7176;
}

.client__text {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
}

/*-------direction--------------*/
.direction__text {
	font-size: 14px;
	line-height: 20px;
	color: #6F7276;
}

.direction__list-info {
	font-size: 18px;
	line-height: 19px;
	color: #434749;
}

.direction__list-items {
	font-size: 47px;
	font-weight: 700;
	line-height: 48px;
	color: #262425;
}

/*-------answers--------------*/
.answers__text {
	font-size: 11px;
	line-height: 15px;
	color: #565962;
}

.answers__highlighting {
	color: #565962;
	font-weight: 600;
}

/*-------estimate--------------*/
.estimate__question {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #494B50;
}

.estimate__answear {
	font-size: 12px;
	line-height: 13px;
	color: #494B50;
}

.estimate__highlighting {
	font-weight: 700;
}

.estimate__window__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 19px;
	color: #000000;
}

.estimate__window__text {
	font-size: 13px;
	line-height: 14px;
	color: #4C4F56;
}

.estimate__window__question {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: #262425;
}

/*-------feedback--------------*/
.feedback__contacts__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	color: black;
}

/*-------footer--------------*/
.footer {
	background-color: rgba(55, 55, 57, 1);
}

.footer__menu__items {
	display: flex;
	justify-content: space-between;
	padding-top: 34px;
	padding-bottom: 57px;
}

.footer__link {
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	text-transform: uppercase;

}

.footer__img-heart {
	background: url('img/footer/heard.png')0 center no-repeat;
	padding-left: 20px;
}

.footer__info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 32px;
}

.footer__right {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

.footer__politics {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(229, 181, 62, 1);
	text-decoration: underline;
}