@import url('обнуление.css');

body {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
}

.container {
	max-width: 1105px;
	margin: 0 auto;
}

.title__less {
	font-size: 36px;
	line-height: 37px;
	color: #000000;
}

.less__highlight {
	font-size: 36px;
	font-weight: 700;
	line-height: 37px;
}

/*-------header---------------*/
.header {
	background: url('img/header/house.png');
}


.header__novgorod-masters {
	font-size: 9px;
	line-height: 11px;
	text-align: left;
	color: #909195;
}

.header__reviews {
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
}

.header__rating {
	font-weight: 600;
}

.header__send-calculation {
	font-size: 12px;
	font-weight: 600;
	line-height: 13px;
}

.header__we-online {
	font-size: 10px;
	line-height: 10px;
	color: #D2D3D6;
}

.header__contact {
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
}


.menu__link {
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #FFFFFF;
	text-transform: uppercase;
}

.start__title {
	font-size: 48px;
	font-weight: 400;
	line-height: 52px;
}

.start__bold {
	font-weight: 700;
}

.start__text {
	font-family: Arial;
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
}

.start__text-bold {
	font-weight: 700;
}

.start__button {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #FBFFFF;
	background-color: #FEAA01;
	width: 285px;
	height: 60px;
	border-radius: 4px;
	text-transform: uppercase;
}

.start__items__info {
	font-size: 12px;
	line-height: 14px;
}

/*-------calculation--------------*/
.calculation__title-normal {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.calculation__questions__title {
	font-size: 25px;
	font-weight: 600;
	line-height: 19px;
	color: black;
}

.calculation__num {
	font-size: 20px;
	font-weight: 300;
	line-height: 15px;
	color: #716A6B;
}

.calculation__questions__info {
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	color: #777779;
}

.calculation__highlighting {
	font-weight: 600;
}

.calculation__questions__further {
	width: 44px;
	height: 11px;
	top: 18px;
	left: 34.62px;
	color: #FDFDFA;
	width: 138.48px;
	height: 46.84px;
	border-radius: 2.04px;
	background-color: #FEAA01;
}

.calculation__info__name {
	font-size: 25px;
	font-weight: 600;
	line-height: 19px;
	color: black;
}

.calculation__info__major {
	font-size: 13px;
	line-height: 10px;
	color: #A09EA1;

}

.calculation__info__answer {
	font-size: 16px;
	line-height: 12px;
	color: #4B4747;
	font-weight: 400;
}

.calculation__info__answer-highlighting {
	font-weight: 600;
}

.list {
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	color: #4B4747;
}

.list__highlighting {
	font-weight: 600;
}

.list__list {
	font-size: 13px;
	font-weight: 600;
	line-height: 14px;
	color: #F3F3F3;
}

.list__highlighting-highlighting {
	font-weight: 400;
}

/*-------projects--------------*/
.projects {
	background-color: #F5F6FA;
}

.projects__columns {
	width: 1106px;
}

.projects__column {
	display: flex;

}

.projects__item {
	width: 349.59px;
	height: 505.1px;
	margin-right: 29px;
	background-color: rgba(255, 255, 255, 1);
}

.projects__item:last-child {
	margin-right: 0px;
}

.projects__title {
	font-size: 29px;
	font-weight: 700;
	line-height: 29px;
	color: #000000;
	margin: 28.08px 0px 16.35px 31.1px;
}

.projects__slider {
	margin-top: 49px;
	margin-bottom: 32px;
}

.projects__menu {
	color: #000000;
	display: flex;

}

.projects__list {
	display: flex;
	font-size: 13px;
	line-height: 13px;
}

.projects__list__house {
	margin-right: 10px;

}

.projects__list-link {
	padding: 4px 9px;
	background-color: rgba(239, 239, 239, 1);

}

.projects__list-link:hover {
	color: white;
	background-color: rgba(115, 185, 24, 1);
}

.projects__list__house:last-child {}

.projects__all {
	text-decoration: underline dotted;
	color: rgba(247, 208, 71, 1);
	font-size: 13px;
	font-weight: 600;
	line-height: 13px;
}



.projects__information {
	color: #000000;
	font-size: 13px;
	line-height: 13px;
	padding-right: 29px;
}



.projects__parameters {}


.projects__list-paramerets {
	color: #7A7D81;
	padding-bottom: 22px;

}

.list-style {
	list-style-type: disc;
	margin-left: 38px;

}

.paramerets {
	padding-bottom: 8px;
	margin-left: 29px;
}

.br {
	margin-left: 29px;
}

.list-paramerets {}

.projects__highlight {
	color: #7A7D81;
	font-weight: 600;
	text-align: end;
}

.bg {
	padding-bottom: 8px;
}

.projects__green {
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	color: #73B918;

}

.projects__list-type {

	display: flex;
	justify-content: space-between;
	font-size: 13px;
	line-height: 13px;
}

.projects__link {

	margin-top: 5px;
	margin-left: 28px;
}

.projects__link-link {
	width: 182px;
	height: 40px;
	border-radius: 5px;
	background-color: #FEAA01;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	color: #FCFCFE;
	text-transform: uppercase;
	text-align: center;
	padding: 13px 27px;

}

.projects__layout {
	font-size: 9px;
	line-height: 8px;
	color: #B8B8BA;
	background: url(img/projects/Group\ 20.png) 0 50% no-repeat;
	padding-left: 32px;
	margin-top: 10px;
	width: 76px;
	height: 18px;
	display: inline-block;
}

/*----------------idea------------------*/
.stage__button:hover {
	color: #FFFFFF;
	background-color: #73B918;

}

.stage__button {
	width: 158.96px;
	height: 40.46px;
	top: 3810px;
	left: 167.96px;
	border-radius: 6.74px;
	font-size: 18px;
	font-weight: 600;
	line-height: 49px;
	color: #333438;
}

.description__title {
	font-size: 35px;
	font-weight: 800;
	line-height: 36px;
	color: #4C4F56;
}

.description__list {
	font-size: 18px;
	font-weight: 400;
	line-height: 19px;
	color: #4C4F56;
}

.description__highlighting {
	font-weight: 600;
}

.description__info {
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #4C4F56;
}

.description__info-highlighting {
	font-weight: 700;
}

.description__text {
	font-size: 15px;
	line-height: 16px;
	color: #505457;
}

.title {
	font-size: 47px;
	font-weight: 400;
	line-height: 47px;
	color: #2D2D2F;
}

.title__highlighting {
	font-size: 47px;
	font-weight: 700;
	color: #2D2D2F;
}

.items__title {
	font-size: 27px;
	font-weight: 600;
	line-height: 26px;
}

.items__text {
	font-size: 14px;
	line-height: 15px;
}

.items__highlighting {
	font-size: 14px;
	font-weight: 600;
	line-height: 15px;
}

.items__button {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: black;
	background-color: white;
	width: 233.56px;
	height: 43.48px;
	top: 4698.31px;
	left: 211.48px;
	border-radius: 4.97px;
}

/*-------examples--------------*/

.examples__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 37px;
	color: #4C4F56;
}

.itoms {
	font-size: 12px;
	font-weight: 400;
	line-height: 13px;
	color: #8E9093;
}

.itoms__highlighting {
	font-size: 28px;
	font-weight: 700;
	line-height: 29px;
	color: #434749;
}

.list {
	font-size: 18px;
	line-height: 19px;
	color: #56595F;
}

.options__list-highlighting {
	font-size: 18px;
	font-weight: 600;
	line-height: 19px;
	color: #56595F;

}

.examples__button {
	font-size: 13px;
	font-weight: 700;
	line-height: 17px;
	color: white;
	width: 233.68px;
	height: 43.61px;
	top: 5494.62px;
	left: 1039.41px;
	border-radius: 5.45px;
	background-color: #FEAA01;
}

/*-------excursion--------------*/

.excursion__text {
	font-size: 18px;
	line-height: 20px;
	color: #4C4F56;
}

.excursion__list {}

.excursion__list-title {
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	color: #000000;
}

.excursion__list-highlight {
	font-weight: 700;
}

.window__title {
	font-size: 24px;
	font-weight: 300;
	color: #4C4F56;

}

.window__title-highlighting {
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	color: #4C4F56;
}

.window__text {
	line-height: 17px;
	color: #4C4F56;
	font-size: 16px;
}

.window__question {
	font-size: 13px;
	font-weight: 700;
	line-height: 15px;
	color: #2D2D2F;
}

.client__name {
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.client__date {
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	color: #6D7176;
}

.client__text {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
}

/*-------direction--------------*/
.direction__text {
	font-size: 14px;
	line-height: 20px;
	color: #6F7276;
}

.direction__list-info {
	font-size: 18px;
	line-height: 19px;
	color: #434749;
}

.direction__list-items {
	font-size: 47px;
	font-weight: 700;
	line-height: 48px;
	color: #262425;
}

/*-------answers--------------*/
.answers__text {
	font-size: 11px;
	line-height: 15px;
	color: #565962;
}

.answers__highlighting {
	color: #565962;
	font-weight: 600;
}

/*-------estimate--------------*/
.estimate__question {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #494B50;
}

.estimate__answear {
	font-size: 12px;
	line-height: 13px;
	color: #494B50;
}

.estimate__highlighting {
	font-weight: 700;
}

.estimate__window__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 19px;
	color: #000000;
}

.estimate__window__text {
	font-size: 13px;
	line-height: 14px;
	color: #4C4F56;
}

.estimate__window__question {
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: #262425;
}

/*-------feedback--------------*/
.feedback__contacts__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	color: black;
}

/*-------footer--------------*/
.footer {
	background-color: rgba(55, 55, 57, 1);
}


.footer__link {
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;

}

.footer__right {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

.footer__politics {
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	color: rgba(229, 181, 62, 1);
}